[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ExpDes"]
	path = ExpDes
	url = https://github.com/cran/ExpDes
[submodule "ExpDes.pt"]
	path = ExpDes.pt
	url = https://github.com/cran/ExpDes.pt
